[user]
	name = Jannik Straube
	email = your-email@example.com  # UPDATE THIS

[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	unstage = reset HEAD --

[color]
	ui = auto

[diff]
	colorMoved = zebra

[fetch]
	prune = true

[rerere]
	enabled = true
